# general modules
Django== 4.2.22
python-decouple 
Pillow
djangorestframework

# third party modules
markdown      
django-filter 
drf-yasg[validation]
djangorestframework-simplejwt


# deployment module 


# Email third party modules
django-mail-templated 

# refactoring and tests
black
flake8
pytest
pytest-django
ruff